body {
    font-family: 'Roboto', sans-serif;
    background: #001;
    color: white;
}

main {
    max-width: 1024px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bungee Shade', cursive;
    font-weight: normal;
}

ol {
    line-height: 2;
    list-style-position: inside;
    padding: 0;
}

li {
    padding: 1em;
    cursor: pointer;
    background: rgb(122, 54, 54);
}

li:nth-child(odd) {
    background: #600;
}